.header img {
	float: left;
	width: 70px;
	height: 70px;
}

.header h1 {
	position: relative;
	top: 18px;
	left: 10px;
}

h1 {
	border-bottom: 4px solid #d0d0d0;
	padding-bottom: 35px;
}

form {
	border: 3px solid #f1f1f1;
}

/* Set form container style */
.container {
	position: absolute;
	right: 20px;
	margin: 20px;
	max-width: 300px;
	padding: 16px;
	background-color: white;
}

/* Full-width inputs */
input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}

/* Style for all buttons */
button {
	background-color: #4CAF50;
	color: white;
	padding: 15px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

/* Add a hand hover effect for buttons */
button:hover {
	opacity: 1;
}









