body {
  margin: 0px;
  padding: 0px;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #333;
  background-color: white;
}

h1 {
  margin: 0px 0px 15px 0px;
  padding: 0px;
  font-size: 28px;
  line-height: 28px;
  font-weight: 900;
  color: #ccc;
}

p {
  font: 11px/20px verdana, arial, helvetica, sans-serif;
  margin: 0px 0px 16px 0px;
  padding: 0px;
}

#Content {
  margin-bottom: 20px;
}

#Content > p {
  margin: 0px;
  text-indent: 30px;
}

a {
  color: #09c;
  font-size: 11px;
  text-decoration: none;
  font-weight: 600;
  font-family: verdana, arial, helvetica, sans-serif;
}

a:link {
  color: #09c;
}

a:visited {
  color: #07a;
}

a:hover {
  background-color: #eee;
}

#Header {
  font-size: 24px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0px; /* top and bottom borders: 1px; left and right borders: 0px */
  line-height: 11px;
  background-color: #eee;
  padding-bottom: 15px;
 
}
/* I've heard this called the "be nice to Opera 5" rule. Basically, it feeds correct 
length values to user agents that exhibit the parsing error exploited above yet get 
the CSS box model right and understand the CSS2 parent-child selector. ALWAYS include
a "be nice to Opera 5" rule every time you use the Tantek Celik hack (above). */
body > #Header {
  height: 14px;
}

/* #Content {} */

#Menu {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 600px;
  background-color: #eee;
  border: 1px solid #999;
  line-height: 17px;
}

ul {
  list-style: none;
  text-align: center;
}

ul li {
  display: inline-block;
  padding-right: 10px;
}

.error {
  color: #ff0033;
  font-size: 14px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

/* our new custom CSS */

.header img {
  float: left;
  width: 70px;
  height: 70px;
}

.header h1 {
  position: relative;
  top: 18px;
}

h1 {
  border-bottom: 4px solid #d0d0d0;
  padding-bottom: 35px;
}

/* Keep header style for all headers with hyperlink */
h1 a {
  color: black;
  text-decoration: none;
}

h2 {
  margin-top: 5%;
  text-align: center;
}

h3 {
  max-width: 300px;
  margin: 0 auto;
}

/* Set form container style */
.container {
  margin: 0 auto;
  max-width: 300px;
  padding: 16px;
  background-color: white;
}

/* Full-width inputs */
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* Style for all buttons */

input[type="submit"], .button {
  background-color: #4caf50;
}

input[type="reset"] {
  background-color: #f44336;
}

/* Add a hand hover effect for buttons */
button:hover {
  opacity: 1;
}

/* Extra style for btn_group */
.btn_group, .button,
input[type="submit"],
input[type="reset"] {
  text-align: center;
  font-family: Times;
  font-size: 20px;
  border-radius: 15px;
  display:inline-block;
}

.btn_float {
  float: left;
}

.clearfix {
  overflow: auto;
}

/* Extra style for btn_group hyperlink */
.btn_group a {
  color: white;
  text-decoration: none;
}

div.btn_group {
  padding: 5%;
}

/* Style for all buttons */
.buttons {
  padding: 15px 20px;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

/* Float cancel and signup buttons with equal width */
.cancelbtn,
.signupbtn,
.savebtn,
.emailbtn {
  margin-top: 5%;
  width: 45%;
  margin: 10px;
  display: inline-block;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

/* Password Reset page style */
#pwr_container,
#signup_container,
#myAccount_container,
#awardEntry_container,
#report_container,
#userList_container {
  width: 400px;
  margin: 0 auto;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

/* Table style */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e6f2ff;
}
