<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CS467 Capstone Project</title>
    <!-- add icon link -->
    <link rel="icon" href="../img/star_logo.jpg" type="image/x-icon">
    
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
<!--     Header     -->   
    <div class="header">
        <img src="../img/star_logo.jpg" alt="logo"> 
        <h1><a href="Login.html">EXCELLENT JOB</a></h1>
    </div>

    <!--     Regular User View After Signin     --> 
    <div class="btn_group">
        <button class="button"><a href="#">MY ACCOUNT</a></button>
        <button class="button"><a href="#">AWARD ENTRY</a></button>
        <button class="button"><a href="#">AWARD MANAGEMENT</a></button>
    </div>

</body>
</html>

















