<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CS467 Capstone Project</title>
    <!-- add icon link -->
    <link rel="icon" href="../img/star_logo.jpg" type="image/x-icon">
    
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
<!--     Comment     -->   
    <div class="header">
        <img src="../img/star_logo.jpg" alt="logo"> 
        <h1><a href="Login.html"">EXCELLENT JOB</a></h1>
    </div>

    <!--     Login Form     --> 
    <form action="login.php">

            <img src="../img/introduction.jpg" alt="intro" style="float: left; margin-left: 20px;"> 

        <!--     User Log In     --> 
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Sign In</button>

            <!--     User Forgot Password     --> 
            <p class="psw"><a href="PasswordRecover.html">Forgot password?</a></p>

            <!--     New User Sign Up     --> 
            <p class="signup">Not enrolled?<a href="SignUp.html"> Sign up now.</a></p>
        </div>
    </form>

</body>
</html>

















