<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CS467 Capstone Project</title>
    <!-- add icon link -->
    <link rel="icon" href="../img/star_logo.jpg" type="image/x-icon">
    
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
<!--     Comment     -->   
    <div class="header">
        <img src="../img/star_logo.jpg" alt="logo"> 
        <h1>EXCELLENT JOB</h1>
    </div>

    <!--     Password Reset Content     --> 
    <h2>Forgot My Password</h2> 
    <div id="sc-password">
        <p>Please enter your email address associated with your account. We'll send you a link to reset your password.</p>
        <div class="sc-container">
            <input type="text" placeholder="Please Enter Email">
            <input type="submit" value="Reset Password">
        </div>
    </div>

</body>
</html>

















