<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CS467 Capstone Project</title>
    <!-- add icon link -->
    <link rel="icon" href="../img/star_logo.jpg" type="image/x-icon">
    
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
<!--     Comment     -->   
    <div class="header">
        <img src="../img/star_logo.jpg" alt="logo"> 
        <h1><a href="Login.html"">EXCELLENT JOB</a></h1>
    </div>

    <h2>Sign Up</h2> 

    <!--     User Sign Up Content     --> 
    <form action="signup.php">
        <div id="signup_container">
            <p>Please fill in this form to create an account.</p>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="name"><b>Full Name</b></label>
            <input type="text" placeholder="Enter Your Full Name" name="name" required>

            <label for="signature"><b>Signature</b></label>
            <input type="text" placeholder="Upload Signature" name="signature" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

            <input type="checkbox" checked="checked" name="remember">Remember Me</label>

                <div class="clearfix">
                    <button type="reset" class="cancelbtn">Cancel</button>
                    <button type="submit" class="signupbtn">Sign Up</button>
                </div>
        </div>
    </form>
    <br><br><br><br><br><br>

</body>
</html>

















